head {
  
    color: #eff3f0;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Times New Roman';
    background-color: blue;
    color: rgb(243, 245, 243);
}
section{
    margin: 0 ;
    padding: 0;
    text-align: left;
    font-size: 12px;

}
h1 {
    font-size: 36px;
    color:rgb(249, 248, 248);
    margin: 20px 0 10px;
    text-align: center;
   
}
h2 {
    font-size: 30px;
    margin: 20px 0 10px;
    color: rgb(249, 247, 247);
    align-items: center;
}
h3 {
    font-size: 25px;
    margin: 20px 0 10px;
    color: rgb(250, 248, 248);
    align-items: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0 10px;
    text-align: left;
    color: white;
}
mark {
    color: red;
    background-color: rgb(13, 9, 223);
    padding: 2px 5px;
    border-radius: 5px;

}

ul {
    list-style-type: disc;
    margin: 10px 0 10px;
    padding-left: 10px;
    text-align: left;
    color: rgb(235, 240, 235);
    font-size: 18px;
}
footer {
    background-color: black;
    padding: 20px;
    color: white;
    align-items: center;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
footer p {
    font-weight: bolder;
}

img {
    height: auto;
    border-radius: 12px;
    width: auto;
    margin: 10px 0 10px;
    display: block;
}
a {
    color: rgb(245, 70, 6);
    padding: 5px 10px;
    font-weight: bold;
    display: inline;
}
.panorama {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.route {
    width: 80%;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vzchod {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.posun {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div {
    text-align: center;
    color: white;
    padding: 10px 10px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}
.uvod {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
