head {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Times New Roman';
}
section{
    margin: 0 ;
    padding: 0;
    text-align: left;
    background-color: #3916a3;
    font-size: 12px;

}
h1 {
    font-size: 36px;
    margin: 0;
    color:rgb(4, 1, 1);
    margin: 20px 0 10px;
    align-items: center;
   
}
h2 {
    font-size: 30px;
    margin: 20px 0 10px;
    color: black;
    align-items: center;
}
h3 {
    font-size: 25px;
    margin: 20px 0 10px;
    color: black;
    align-items: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0 10px;
    text-align: left;
    color: black;
}
mark {
    font-color: red;

}

ul {
    list-style-type: disc;
    margin: 10px 0 10px;
    padding-left: 10px;
    text-align: left;
    color: black;
}
footer {
    background-color: #0a0101;
    color: #0b9c32;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

