head {
  
    color: #12d64d;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Times New Roman';
    background-color: blue;
    color: green;
}
section{
    margin: 0 ;
    padding: 0;
    text-align: left;
    font-size: 12px;

}
h1 {
    font-size: 36px;
    margin: 0;
    color:rgb(249, 248, 248);
    margin: 20px 0 10px;
    align-items: center;
   
}
h2 {
    font-size: 30px;
    margin: 20px 0 10px;
    color: rgb(249, 247, 247);
    align-items: center;
}
h3 {
    font-size: 25px;
    margin: 20px 0 10px;
    color: rgb(250, 248, 248);
    align-items: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0 10px;
    text-align: left;
    color: rgb(29, 224, 104);
}
mark {
    font-color: red;

}

ul {
    list-style-type: disc;
    margin: 10px 0 10px;
    padding-left: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}
footer {
    background-color: #0a0101;
    color: #0b9c32;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
footer p {
    margin: 0 10px;
    font-weight: bolder;
}

image {
    height: auto;
    border-radius: 12px;
    width: auto;
    margin: 10px 0 10px;
    display: block;
}

